@using EHRM.ViewModel.Employee
@model GetAllEmployeeViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = Model.EmpId.HasValue ? "View Employee" : "Add Employee";

}
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor


@{

    var empIdFromSession = HttpContextAccessor.HttpContext?.Session?.GetInt32("EmpId");
}

@{
    ViewData["Title"] = "Employee Management Form";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title> <!-- Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <link type="text/css" href="~/customstyle/style.css" rel="stylesheet" />
    <script type="text/javascript" src="~/customscripts/EmployeeManagement.js?v=1"></script>

</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<body>

    @if (TempData["ToastType"] != null && TempData["ToastMessage"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
            // Call the showToast function directly with TempData values
            showToast('@TempData["ToastType"]', '@TempData["ToastMessage"]');
            });
        </script>
    }
    <h3 class="page-heading">Employee Management Form</h3>

    <div class="container-fluid mt-1">
        <div class="row">
            <!-- Full-width section to create the form -->
            <div class="col-12">
                <!-- Tab navigation -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation"> <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#personal-info" type="button" role="tab" aria-controls="personal-info" aria-selected="true">Personal Info</button> </li>
                    <li class="nav-item" role="presentation"> <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#employement-type-info" type="button" role="tab" aria-controls="employement-type-info" aria-selected="false">Details</button> </li>
                    <li class="nav-item" role="presentation"> <button class="nav-link" id="qualification-education-tab" data-bs-toggle="tab" data-bs-target="#qualification-education-info" type="button" role="tab" aria-controls="qualification-education-info" aria-selected="false">Qualification & Education</button> </li>
                    <li class="nav-item" role="presentation"> <button class="nav-link" id="salary-grade-tab" data-bs-toggle="tab" data-bs-target="#salary-grade-info" type="button" role="tab" aria-controls="salary-grade-info" aria-selected="false">Salary Grade</button> </li>
                    <li class="nav-item" role="presentation"> <button class="nav-link" id="declaration-tab" data-bs-toggle="tab" data-bs-target="#declaration-info" type="button" role="tab" aria-controls="declaration-info" aria-selected="false">Declaration</button> </li>
                </ul> <!-- Tab content -->
                <div class="tab-content mt-3" id="myTabContent">
                    <!-- Personal Info Tab -->
                    <div class="tab-pane fade show active" id="personal-info" role="tabpanel" aria-labelledby="personal-info-tab">
                        <form id="personal-info" asp-controller="Employee" asp-action="SavePersonalInfo" method="post" onsubmit="return validatepersonalinfoForm()" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-8 col-sm-8">
                                    <div class="card">
                                        <div class="card-body">
                                            <fieldset>
                                                <legend><i class="fas fa-user"></i> Personal Information</legend>
                                                <div class="row mb-4">
                                                    <input type="hidden" id="emp-manage-id" name="emp-manage-id" />
                                                    <!-- Title Field -->
                                                    <div class="col-12 col-md-6">
                                                        <label for="PrefixName" class="form-label mt-3">PrefixName</label>
                                                        <input asp-for="PrefixName" class="form-control" id="PrefixName" value="RC" style="text-transform:uppercase" placeholder="PrefixName" readonly>
                                                    </div>
                                                    <!-- Employee ID Field -->
                                                    <div class="col-12 col-md-6">
                                                        <label for="EmpId" class="form-label mt-3">Employee ID *</label>
                                                        <input asp-for="EmpId" class="form-control" id="EmpId" placeholder="Enter Employee ID" onchange="CheckExistingEmpId()">
                                                        <span id="EmpIdError" style="color: red; font-size:small; display: none;">Employee ID must be filled out</span>
                                                        <label id="lblEmpIdError" style="color:red"></label>
                                                    </div>

                                                </div>
                                                <!-- Additional form fields go here -->
                                            </fieldset>
                                            <div class="row mb-4">
                                                <!-- Prefix Field -->
                                                <div class="col-12 col-md-3">
                                                    <label for="nameTitle" class="form-label">Title *</label>
                                                    <span asp-validation-for="Title" class="text-danger"></span>
                                                    <select asp-for="Title" class="form-select" id="nameTitle">
                                                        <option selected>Select Prefix</option>
                                                        <option value="mr">Mr.</option>
                                                        <option value="mrs">Mrs.</option>
                                                        <option value="ms">Master</option>
                                                        <option value="dr">Ms.</option>
                                                    </select>
                                                </div> <!-- First Name Field -->
                                                <div class="col-12 col-md-3">
                                                    <label for="firstName" class="form-label">First Name *</label>

                                                    <input asp-for="FirstName" type="text" class="form-control @(Model.EmpId.HasValue ? "readonly" : "")" id="FirstName" placeholder="First name" onchange="GenerateLoginId()">
                                                    <span id="FirstNameError" style="color: red; font-size:small; display: none;">First Name must be filled out</span>
                                                </div> <!-- Middle Name Field -->
                                                <div class="col-12 col-md-3">
                                                    <label for="middleName" class="form-label">Middle Name</label>
                                                    <input asp-for="MiddleName" type="text" class="form-control" id="middleName" placeholder="Middle name">
                                                </div> <!-- Last Name Field -->
                                                <div class="col-12 col-md-3">
                                                    <label for="LastName" class="form-label">Last Name *</label>
                                                    <input asp-for="LastName" type="text" class="form-control" id="LastName" placeholder="Last name">
                                                    <span id="LastNameError" style="color: red; font-size:small; display: none;">Last Name must be filled out</span>
                                                </div>
                                            </div>
                                            <!-- Gender and of Birth -->

                                            <div class="row mb-3">
                                                <div class="col-12 col-md-6">
                                                    <label for="gender" class="form-label">Gender *</label>
                                                    <span id="GenderError" style="color: red; font-size:small; display: none;">Gender must be selected</span>
                                                    <select asp-for="Gender" class="form-select" id="gender">
                                                        <option selected>Select gender</option>
                                                        <option value="male">Male</option>
                                                        <option value="female">Female</option>
                                                        <option value="other">Other</option>
                                                    </select>
                                                </div>

                                                <div class="col-12 col-md-6">
                                                    <label for="DateOfBirth" class="form-label">Date of Birth *</label>
                                                    <input asp-for="DateOfBirth" type="text" class="form-control" name="DateOfBirth" id="DateOfBirth" data-start-day='1' data-picker-type='date' onchange="ClAge()" placeholder="Select Date Of Birth" readonly />
                                                    <span id="DOBError" style="color: red; font-size:small; display: none;">DOB must be selected</span>
                                                </div>
                                            </div>

                                            <!-- Phone Number and Email -->
                                            <div class="row mb-3">
                                                <div class="col-12 col-md-6">
                                                    <label for="phone" class="form-label">Phone number *</label>
                                                    <input asp-for="CellPhone" type="text" class="form-control" id="phone" placeholder="Enter your number">
                                                    <span id="cellError" style="color: red; font-size:small; display: none;">Phone Number must be filled out</span>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <label for="EmailAddress" class="form-label">Email Address *</label>

                                                    <input asp-for="EmailAddress" class="form-control" id="EmailAddress" name="EmailAddress" placeholder="Enter Email-id" onchange="ValidateEmail()"
                                                    data-bs-toggle="tooltip" title="Please enter a valid email address. It is important to provide a correct email." />
                                                    <span id="EmailError" style="color: red; font-size:small; display: none;">Email must be filled out</span>
                                                    <label id="lblError" style="color:red"></label>
                                                </div>
                                            </div>
                                            <div class="row-mb-3">
                                                <!-- Login ID and Password -->
                                                <div class="row mb-3">
                                                    <div class="col-12 col-md-6">
                                                        <label for="loginId" class="form-label">Confirm Email *</label>
                                                        <input type="text" class="form-control" id="emailC" name="emailC" placeholder="Confirm your Email" onkeyup="validate_ConfirmEmail()">
                                                        <span id="wrong_email_alert"></span>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <label for="Age" class="form-label">Age*</label>

                                                        <input asp-for="Age" class="form-control" id="Age" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Role and Marital Status -->
                                            <div class="row mb-3">
                                                <div class="col-12 col-md-6">
                                                    <label for="RoleId" class="form-label">Role *</label>
                                                    
                                                    <select asp-for="RoleId" class="form-select" id="RoleId">

                                                        @if(Model.RoleName==""){

                                                            <option value="" selected>Select Role</option>
                                                        }
                                                        @if (Model.RoleName != "")
                                                        {
                                                            <option value="@Model.RoleId" selected>@Model.RoleName</option>
                                                        }                                                        
                                                    </select>
                                                    <span id="RoleError" style="color: red; font-size:small; display: none;">Role must be selected</span>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <label for="MaritalStatus" class="form-label">Marital Status *</label>
                                                    <select asp-for="MaritalStatus" class="form-select" id="MaritalStatus">
                                                        <option selected>Select Marital Status</option>
                                                        <option value="Single">Single</option>
                                                        <option value="Married">Married</option>
                                                        <option value="Divorced">Divorced</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row-mb-3">
                                                <!-- Login ID and Password -->
                                                <div class="row mb-3">
                                                    <div class="col-12 col-md-6">
                                                        <label for="LoginId" class="form-label">Login ID *</label>
                                                        <input asp-for="LoginId" class="form-control" id="LoginId" readonly>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <label for="Password" class="form-label">Password *</label>
                                                        <input asp-for="Password" class="form-control" id="Password" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Social Security Number and Home Phone -->
                                            <div class="row mb-3">
                                                <div class="col-12 col-md-6">
                                                    <label for="AadharNumber" class="form-label">Aadhar Card Number *</label>
                                                    <input asp-for="AadharNumber" type="text" class="form-control" id="AadharNumber" placeholder="Enter Aadhar Card Number">
                                                    <span id="AadharError" style="color: red; font-size:small; display: none;">Aadhar must be filled out</span>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <label for="homePhone" class="form-label">Home Phone</label>
                                                    <input asp-for="HomePhone" type="text" class="form-control" id="homePhone" placeholder="Enter Home Phone Number">
                                                </div>
                                            </div>
                                            <!-- Team Name and Office Phone -->
                                            <div class="row mb-3">
                                                <div class="col-12 col-md-6">
                                                    <label for="TeamId" class="form-label">Team Name *</label>
                                                    
                                                    <select asp-for="TeamId" class="form-select" id="TeamId">
                                                        @if (Model.TeamName == "")
                                                        {
                                                            <option value="" selected>Select Team</option>
                                                        }
                                                        @if (Model.TeamName != "")
                                                        {
                                                            <option value="@Model.TeamId" selected>@Model.TeamName</option>
                                                        }
                                                    </select>
                                                    <span id="TeamError" style="color: red; font-size:small; display: none;">Team must be selected</span>


                                                </div>
                                                <div class="col-12 col-md-6"> 
                                                    <label for="officePhone" class="form-label">Office Phone</label> 
                                                    <input asp-for="OfficePhone" type="text" class="form-control" id="officePhone" placeholder="Enter Office Phone Number"> </div>
                                            </div>
                                            <!-- Marriage Anniversary -->
                                            <div class="row mb-3">
                                                <div class="col-12 col-md-6"> <label for="anniversary" class="form-label">Marriage Anniversary</label> <input asp-for="MarriageAnniversary" type="text" class="form-control" name="MarriageAnniversary" id="MarriageAnniversary" data-start-day='1' data-picker-type='date' placeholder="Select Date Of Marriage" readonly /> </div>
                                            </div>
                                            <!-- Local Address -->
                                            <fieldset>
                                                <legend><i class="fas fa-home"></i> Address Details</legend>
                                                <div class="row mb-3">
                                                    <div class="col-12 col-md-6"> 
                                                        <label for="Street" class="form-label">Street *</label>
                                                     
                                                        <textarea asp-for="Street" class="form-control" id="Street" rows="4" placeholder="Enter Street"></textarea>
                                                        <span id="streetError" style="color: red; font-size:small; display: none;">Street must be filled out</span>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <label for="Country" class="form-label">Country *</label>
                                                       
                                                        <input type="text" asp-for="Country" class="form-control" id="Country" placeholder="Enter Country">
                                                        <span id="countryError" style="color: red; font-size:small; display: none;">Country must be filled out</span>
                                                    </div>

                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-12 col-md-6">
                                                        <label for="City" class="form-label">City *</label>
                                                        <input asp-for="City" class="form-control" id="City" placeholder="Enter City">
                                                        <span id="CityError" style="color: red; font-size:small; display: none;">City must be filled out</span>
                                                    </div>
                                                    <div class="col-12 col-md-6"> 
                                                        <label for="ZipCode" class="form-label">Zip Code (optional)</label>
                                                        <input asp-for="ZipCode" type="text" class="form-control" id="ZipCode" placeholder="Enter Zip Code">
                                                        <span id="zipError" style="color: red; font-size:small; display: none;">ZipCode must be filled out</span>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <!-- Nationality -->
                                            <div class="row mb-3">
                                                <div class="col-12 col-md-6">
                                                    <label for="Nationality" class="form-label">Nationality *</label>
                                        
                                                    <input asp-for="Nationality" class="form-control" placeholder="Enter Nationality" />

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row form-group">
                                        <label class="col-sm-4 col-form-label">Photo:</label>
                                        <div class="col-sm-8">
                                            <!-- Use a unique ID for the image -->
                                            <img asp-for="empimg" style="height:200px;width:200px;" id="EmpImg" src="@Model.FileName" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <!-- File input should have a unique ID different from the image -->
                                        <input asp-for="ProfileImg" type="file" id="ProfileImg" data-extensions=".jpg,.png,.jpeg,.jfif" />
                                    </div>
                                    <span id="ImageError" style="color: red; font-size:small; display: none;">Image must be selected</span>
                                </div>

                                <div class="col-sm-8">
                                    <button type="submit" class="btn btn-primary" id="btnPersonalInfo">Save</button>
                                </div>

                            </div>
                        </form>

                    </div> 
                    
                    <!-- Emp_type and appointment details Tab -->
                    <div class="tab-pane fade" id="employement-type-info" role="tabpanel" aria-labelledby="employement-type-tab">
                        <form id="employment-info" asp-controller="Employee" asp-action="SaveEmploymentInfo" method="post" onsubmit="return validateemploymentinfoForm()">
                            <div class="row">
                                <!-- Left column (12 columns wide for the form fields) -->
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <!-- Employment Type and Appointment Details -->
                                            <fieldset>
                                                <legend><i class="fas fa-briefcase"></i> Employment Type and Appointment Details</legend>

                                                <!-- Employee Type and Appointment Date -->
                                                <div class="col-4 col-md-4">
   
                                                    <label for="EmpId" class="form-label">EMP-ID *</label>

                                                    <input asp-for="EmploymentDetails.EmpId" class="form-control" id="EmpId" value="@empIdFromSession" />



                                                    <input asp-for="EmploymentDetails.EmpId" class="form-control" id="EmpId" value="@empIdFromSession" readonly />
                                                </div>

                                                <div class="row mb-3">
                                                    <div class="col-12 col-md-6">
                                                        <label for="EmpType" class="form-label">Employee Type *</label>
                                                        <select asp-for="EmploymentDetails.EmpType" class="form-select" id="EmpType">
                                                            <option selected disabled>Select Employee Type</option>
                                                            @if (ViewBag.EmployeeType != null)
                                                            {
                                                                @foreach (var employeeType in ViewBag.EmployeeType as List<SelectListItem>)
                                                                {
                                                                    <option value="@employeeType.Value">@employeeType.Text</option>
                                                                }
                                                            }
                                                        </select>
                                                        <span id="etypeError" style="color: red; font-size:small; display: none;">Employee Type must be selected</span>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <label class="form-label">Appointment Date *</label>
                                                        <input asp-for="EmploymentDetails.AppointmentDate" class="form-control" id="AppointmentDate"
                                                               data-start-day="1" data-picker-type="date" placeholder="Select Appointment Date"
                                                               onchange="calculateServiceDuration(this.value)" readonly />
                                                        <span id="dateError" style="color: red; font-size:small; display: none;">ZipCode must be filled out</span>

                                                    </div>
                                                </div>

                                                <!-- Start Date and End Date -->
                                                <div class="row mb-3">
                                                    <div class="col-12 col-md-6">
                                                        <label for="startDate" class="form-label">Start Date *</label>
                                                        <input asp-for="EmploymentDetails.StartDate" type="text" class="form-control" id="startdate"
                                                               data-start-day="1" data-picker-type="date" placeholder="Select Start Date" readonly />
                                                        <span id="startdateError" style="color: red; font-size:small; display: none;">ZipCode must be filled out</span>
                                                    </div>
                                                    <div class="col-12 col-md-6" id="endDateRow">
                                                        <label for="endDate" class="form-label">End Date (optional)</label>
                                                        <input asp-for="EmploymentDetails.EndDate" type="text" class="form-control" id="enddate"
                                                               data-start-day="1" data-picker-type="date" placeholder="Select End Date" readonly />
                                                    </div>
                                                </div>

                                                <!-- Total Service and Appointed Service -->
                                                <div class="row mb-3">
                                                    <div class="col-12 col-md-6">
                                                        <label for="totalService" class="form-label">Total Service *</label>
                                                        <input asp-for="EmploymentDetails.TotalService" class="form-control" id="totalService"
                                                               placeholder="Enter Total Service (years/months)" />
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <label for="AppointedService" class="form-label">Appointed Service *</label>
                                                        <input asp-for="EmploymentDetails.AppointedService" class="form-control" id="AppointedService"
                                                               placeholder="Enter Appointed Service (years/months)" />
                                                    </div>
                                                </div>

                                                <!-- Employment Status and Manager Name -->
                                                <div class="row mb-3">
                                                    <div class="col-12 col-md-6">
                                                        <label for="EmploymentStatusId" class="form-label">Employment Status *</label>
                                                        <select asp-for="EmploymentDetails.EmploymentStatusId" class="form-select" id="EmploymentStatusId">
                                                            <option selected disabled>Select Employment Status</option>
                                                            @if (ViewBag.EmploymentStatusId != null)
                                                            {
                                                                @foreach (var status in ViewBag.EmploymentStatusId as List<SelectListItem>)
                                                                {
                                                                    <option value="@status.Value">@status.Text</option>
                                                                }
                                                            }
                                                        </select>
                                                        <span id="employmentstatuserror" style="color: red; font-size:small; display: none;">Employment Status Id must be selected</span>
                                                    </div>


                                                        <div class="col-12 col-md-6">
                                                            <label for="ManagerId" class="form-label">Manager Name</label>
                                                            <select asp-for="EmploymentDetails.ManagerId" class="form-select" id="ManagerId">
                                                                @if (Model?.EmploymentDetails?.ManagerName == null || Model.EmploymentDetails.ManagerName == "")
                                                                {
                                                                    <option value="" selected>Select Manager</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@Model.EmploymentDetails.ManagerId" selected>@Model.EmploymentDetails.ManagerName</option>
                                                                }
                                                            </select>
                                                            <span id="managererror" style="color: red; font-size:small; display: none;">Manager must be selected</span>

                                                        </div>




                                                </div>
                                            </fieldset>

                                            <!-- Save Button -->
                                            <div class="row mb-3">
                                                <div class="col-12">
                                                    <button type="submit" class="btn btn-primary">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div> 
                    
                    <!-- Qualification Tab -->
                    <div class="tab-pane fade" id="qualification-education-info" role="tabpanel" aria-labelledby="qualification-education-tab">
                        <form id="qualification-education-info" asp-controller="Employee" asp-action="SaveQualificationInfo" method="post" onsubmit="return validatequalificationForm()">
                            <div class="row">
                                <!-- Left column (12 columns wide for the form fields) -->
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <!-- Qualification and Education Details -->
                                            <fieldset>
                                                <legend><i class="fas fa-graduation-cap"></i> Qualification and Education</legend> <!-- Course Name and Concentration -->
                                                <div class="col-4 col-md-4">
                                              
                                                    <label for="EmpId" class="form-label">EMP-ID  *</label>

                                                 
                                                    <input asp-for="Qualifications.EmpId" class="form-control" id="EmpId" value="@empIdFromSession" />

                                                    <input asp-for="Qualifications.EmpId" class="form-control" id="EmpId" value="@empIdFromSession" onchange="CheckExistingEmpId()" readonly />
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-12 col-md-6"> 
                                                        <label for="CourseName" class="form-label">Course Name *</label>
                                                        <input asp-for="Qualifications.CourseName" type="text" class="form-control" id="CourseName" placeholder="Enter Course Name">
                                                        <span id="coursenameerror" style="color: red; font-size:small; display: none;">Qualification is required</span>
                                                    </div>
                                                    <div class="col-12 col-md-6"> 
                                                        <label for="Concentration" class="form-label">Concentration (optional)</label>
                                                        <input asp-for="Qualifications.Concentration" type="text" class="form-control" id="Concentration" placeholder="Enter Concentration or Area of Focus">
                                                    </div>
                                                </div> <!-- Qualification Earned and Institution -->
                                                <div class="row mb-3">
                                                    <div class="col-12 col-md-6">
                                                        <label for="QualificationEarned" class="form-label">Qualification Earned *</label>
                                                        <select asp-for="Qualifications.QualificationEarned" class="form-select" id="QualificationEarned">
                                                            <option selected>Select Qualification</option>
                                                            <option value="degree">Degree</option>
                                                            <option value="diploma">Diploma</option>
                                                            <option value="certificate">Certificate</option>
                                                        </select>
                                                        <span id="qualificationearnederror" style="color: red; font-size:small; display: none;">Qualification earned is required</span>
                                                    </div>
                                                    <div class="col-12 col-md-6"> 
                                                        <label for="InstitutionName" class="form-label">Institution *</label> 
                                                        <input asp-for="Qualifications.InstitutionName" type="text" class="form-control" id="InstitutionName" placeholder="Enter Institution Name">
                                                        <span id="instituteerror" style="color: red; font-size:small; display: none;">Qualification is required</span>
                                                    </div>
                                                </div> <!-- Country and Date Passed -->
                                                <div class="row mb-3">
                                                    <div class="col-12 col-md-6">
                                                        <label for="CountryName" class="form-label">Country *</label>
                                                        <select asp-for="Qualifications.CountryName" class="form-select" id="CountryName">
                                                            <option selected>Select Country of Institution</option>
                                                            <option value="usa">USA</option>
                                                            <option value="india">India</option>
                                                            <option value="uk">UK</option> <!-- Add more countries as needed -->
                                                        </select>
                                                    </div>
                                                    <div class="col-12 col-md-6"> 
                                                        <label for="PassedDate" class="form-label">Date Passed *</label>
                                                        <input asp-for="Qualifications.PassedDate" type="text" class="form-control" id="PassedDate"
                                                               data-start-day="1" data-picker-type="date" placeholder="Select Passed Date" readonly />
                                                        <span id="passeddateerror" style="color: red; font-size:small; display: none;">Passed Date is required</span>
                                                        
                                                    </div>
                                                </div> <!-- Details and Upload Document -->
                                                <div class="row mb-3">
                                                    <div class="col-12 col-md-6"> 
                                                        <label for="Details" class="form-label">Details (optional)</label>
                                                        <input asp-for="Qualifications.Details" type="text" class="form-control" id="Details" placeholder="Enter additional details (e.g., honors, awards)">
                                                    </div>
                                                    <div class="col-12 col-md-6"> 
                                                        <label for="Document" class="form-label">Upload Document (optional)</label>
                                                        <input asp-for="Qualifications.Document" type="file" class="form-control" id="Document">
                                                    </div>
                                                </div>
                                            </fieldset> <!-- Save Button -->
                                            <div class="row mb-3">
                                                <div class="col-12"> 
                                                    <button type="submit" class="btn btn-primary">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div> 

                    <!-- Salary Grade Tab -->
                    <div class="tab-pane fade" id="salary-grade-info" role="tabpanel" aria-labelledby="salary-grade-tab">
                        <form id="salary-grade-info" asp-controller="Employee" asp-action="SaveSalaryInfo" method="post" onsubmit="return validatesalaryForm()">
                            <div class="row">
                                <!-- Left column (12 columns wide for the form fields) -->
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <!-- Salary Grade Details -->
                                            <fieldset>
                                                <legend><i class="fas fa-dollar-sign"></i> Salary Grade</legend> <!-- CTC (Cost to Company) -->
                                                <div class="col-4 col-md-4">
                                                    <label for="EmpId" class="form-label">EMP-ID  *</label>

                                               
                                                    <input asp-for="SalaryDetails.EmpId" class="form-control" id="EmpId" value="@empIdFromSession" readonly />

                                                    <input asp-for="SalaryDetails.EmpId" class="form-control" id="EmpId" value="@empIdFromSession" onchange="CheckExistingEmpId()" readonly />

                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-12 col-md-6"> 
                                                        <label for="Ctc" class="form-label">CTC (Cost to Company)</label>
                                                        <input asp-for="SalaryDetails.Ctc" type="text" class="form-control" id="Ctc" placeholder="Enter CTC">
                                                        <span id="CTCerror" style="color: red; font-size:small; display: none;">CTC is required</span>
                                                    </div>
                                                </div> <!-- Start Year and End Year -->
                                                <div class="row mb-3">
                                                    <div class="col-12 col-md-6"> 
                                                        <label for="StartYear" class="form-label">Start Year</label>
                                                        <input asp-for="SalaryDetails.StartYear" type="number" class="form-control" id="StartYear" placeholder="Enter Start Year">
            
                                                    </div>
                                                    <div class="col-12 col-md-6"> 
                                                        <label for="EndYear" class="form-label">End Year</label>
                                                        <input asp-for="SalaryDetails.EndYear" type="number" class="form-control" id="EndYear" placeholder="Enter End Year">
                                                    </div>
                                                </div> 
                                                <!-- Description -->
                                                <div class="row mb-3">
                                                    <div class="col-12"> 
                                                        <label for="Description" class="form-label">Description</label>
                                                        <textarea asp-for="SalaryDetails.Description" class="form-control" id="Description" placeholder="Enter Salary Grade Description" rows="3"></textarea>
                                                    </div>
                                                </div>
                                            </fieldset> 
                                            <!-- Save Button -->
                                            <div class="row mb-3">
                                                <div class="col-12"> 
                                                    <button type="submit" class="btn btn-primary">Save</button> 
                                                 </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div> 
                    
                    <!-- Declaration Tab -->
                    <div class="tab-pane fade" id="declaration-info" role="tabpanel" aria-labelledby="declaration-tab">
                        <form id="declaration-info" asp-controller="Employee" asp-action="SaveDeclarationInfo" method="post" onsubmit="return validatedeclarationForm()">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <fieldset>
                                                <legend><i class="fas fa-pen"></i> Declaration</legend>
                                                <div class="row mb-3">
                                                    <div class="col-4 col-md-4">

                                                        <label for="EmpId" class="form-label">EMP-ID  *</label>

                                                    <input asp-for="Declarations.EmpId" class="form-control" id="EmpId" value="@empIdFromSession" readonly />

                                                        <label for="EmpId" class="form-label">EMP-ID *</label>
                                                        <input asp-for="Declarations.EmpId" class="form-control" id="EmpId" value="@empIdFromSession" onchange="CheckExistingEmpId()" readonly />

                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-12">
                                                        <label class="form-label">Declaration Statement</label>
                                                        <p>
                                                            As a representative of the HR department, I hereby confirm that the information
                                                            provided in this form has been accurately recorded based on the details submitted
                                                            by the concerned employee and verified in accordance with company policies and procedures.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-12 col-md-6">
                                                        <label for="HrRepresentativeName" class="form-label">HR Representative Name</label>
                                                        <input asp-for="Declarations.HrRepresentativeName" type="text" class="form-control" id="HrRepresentativeName" placeholder="Enter Name">
                                                        <span id="hrnameerror" style="color: red; font-size:small; display: none;">HR Representative name is required</span>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <label for="HrRepresentativeDesignation" class="form-label">HR Representative Designation</label>
                                                        <input asp-for="Declarations.HrRepresentativeDesignation" type="text" class="form-control" id="HrRepresentativeDesignation" placeholder="Enter Designation">
                                                        <span id="hrdesignationerror" style="color: red; font-size:small; display: none;">HR Representative Designation is required</span>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-12 col-md-6">
                                                        <label for="HrContactInfo" class="form-label">HR Contact Information</label>
                                                        <input asp-for="Declarations.HrContactInfo" type="text" class="form-control" id="HrContactInfo" placeholder="Enter Contact Information">
                                                        <span id="hrcontacterror" style="color: red; font-size:small; display: none;">HR Contact Info is required</span>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <label for="Date" class="form-label">Date</label>
                                                        <input asp-for="Declarations.Date" type="text" class="form-control" id="Date" data-start-day="1" data-picker-type="date" placeholder="Select Declaration Date" readonly>
                                                    </div>
                                                        </div>
                                                    </div> <!-- Verification Checklist -->
                                                    <div class="row mb-3">
                                                        <div class="col-12"> 
                                                            <label class="form-label">Verification Checklist</label>
                                                            </div>
                                                    <div class="col-12 col-md-6">
                                                        <div class="form-check">
                                                            <input asp-for="Declarations.VerificationCrossCheck" class="form-check-input" type="checkbox" id="VerificationCrossCheck">  
                                                            <label for="VerificationCrossCheck" class="form-check-label">
                                                                Information cross-checked with submitted documents
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <div class="form-check">
                                                            <input asp-for="Declarations.VerificationMandatory" class="form-check-input" type="checkbox" id="VerificationMandatory">
                                                            <label for="VerificationMandatory" class="form-check-label">
                                                                All mandatory fields completed
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <div class="row mb-3">
                                                <div class="col-12">
                                                    <button type="submit" class="btn btn-primary">Save Declaration</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>

            </div>
        </div>
    </div>
</body>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $('#JoiningDate').datepicker({
       changeMonth: true,
        changeYear: true,
        yearRange: '1950:2070',
        dateFormat: 'dd-MM-yy',
        maxDate: '0',
        defaultDate: new window.Date
    });


    $('#DateOfBirth').datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: '1950:2070',
        dateFormat: 'dd-MM-yy',
        maxDate: '0',
        defaultDate: new window.Date
    });

    $('#MarriageAnniversary').datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: '1950:2070',
        dateFormat: 'dd-MM-yy',
        maxDate: '0',
        defaultDate: new window.Date
    });

    $('#AppointmentDate').datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: '1950:2070',
        dateFormat: 'dd-MM-yy',
        maxDate: '0',
        defaultDate: new window.Date
    });

    $('#startdate').datepicker({
       changeMonth: true,
        changeYear: true,
        yearRange: '1950:2070',
        dateFormat: 'dd-MM-yy',
        maxDate: '0',
        defaultDate: new window.Date
    });

    $('#enddate').datepicker({
      changeMonth: true,
        changeYear: true,
        yearRange: '1950:2070',
        dateFormat: 'dd-MM-yy',
        maxDate: '0',
        defaultDate: new window.Date
    });

    

    $('#PassedDate').datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: '1950:2070',
        dateFormat: 'dd-MM-yy',
        maxDate: '0',
        defaultDate: new window.Date
    });

    

    $('#Date').datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: '1950:2070',
        dateFormat: 'dd-MM-yy',
        maxDate: '0',
        defaultDate: new window.Date
    });


       $(document).ready(function () {
        // Bind change event to the correct file input ID
        $("#ProfileImg").change(function () {
            // Call the function to preview the uploaded image
            readPicURL(this, 'EmpImg');
        });
    });

    function readPicURL(input, imageId) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                // Update the src attribute of the image with the uploaded file's data
                $('#' + imageId).attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }


    // Initialize tooltips
    var tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    var tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));

   

</script>